#admin_menu
  %ul
    %li= link_to "Web", root_path
    %li= link_to "Usuarios", admin_root_path
    %li= link_to "Traducciones", interpret_root_path
    %li= link_to "Noticias", admin_posts_path
    %li= link_to "Newsletter de subscriptores", admin_subscriptors_path
    %li= link_to "Páginas dinámicas", admin_pages_path
